{% extends 'theme/base/base_main.html.twig' %}

{% block title %}Mes associations{% endblock %}

{% block body %}
    <div class="row">

        {%if userAdhesion.role is defined and userAdhesion.role is not null %}
            <div class=" mb-3 d-flex justify-content-end">
                <a href="{{path('app_adhesion',{'id':association.id})}}" class="btn btn-primary m-0">
                    <span class="tf-icons bx bx-pie-chart-alt"></span>&nbsp; Gestion de l'association
                </a>
            </div>
        {% endif %}
    </div>
    <div class="row">

        <div class="accordion mt-3" id="accordionExample">
            <div class="card accordion-item active">
                <h2 class="accordion-header" id="headingOne">
                    <button
                            type="button"
                            class="accordion-button"
                            data-bs-toggle="collapse"
                            data-bs-target="#accordionOne"
                            aria-expanded="true"
                            aria-controls="accordionOne"
                    >
                        Details
                    </button>
                </h2>

                <div
                        id="accordionOne"
                        class="accordion-collapse collapse show"
                        data-bs-parent="#accordionExample"
                >
                    <div class="accordion-body">
                        Lemon drops chocolate cake gummies carrot cake chupa chups muffin topping. Sesame snaps icing
                        marzipan gummi bears macaroon dragée danish caramels powder. Bear claw dragée pastry topping
                        soufflé. Wafer gummi bears marshmallow pastry pie.
                    </div>
                </div>
            </div>
            <div class="card accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button
                            type="button"
                            class="accordion-button collapsed"
                            data-bs-toggle="collapse"
                            data-bs-target="#accordionTwo"
                            aria-expanded="false"
                            aria-controls="accordionTwo"
                    >
                        Activités
                    </button>
                </h2>
                <div
                        id="accordionTwo"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample"
                >
                    <div class="accordion-body">
                        Dessert ice cream donut oat cake jelly-o pie sugar plum cheesecake. Bear claw dragée oat cake
                        dragée ice cream halvah tootsie roll. Danish cake oat cake pie macaroon tart donut gummies.
                        Jelly beans candy canes carrot cake. Fruitcake chocolate chupa chups.
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="row">
        {% if isPaginated is defined and isPaginated %}
            <div class="demo-inline-spacing">

                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page!=1 %}
                            <li class="page-item prev">
                                <a class="page-link" href="{{path('app_acceuil',{page:page-1})}}"><i class="tf-icon bx bx-chevrons-left"></i></a>
                            </li>
                        {% endif %}

                        {% for i in range(1, nbPage) %}
                            <li class="page-item {%if page==i %} active {% endif %}">
                                <a class="page-link" href="{{path('app_acceuil',{page:i})}}">{{i}}</a>
                            </li>
                        {% endfor %}

                        {% if page!=nbPage %}
                            <li class="page-item next">
                                <a class="page-link" href="{{path('app_acceuil',{page:page+1})}}"><i class="tf-icon bx bx-chevrons-right"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

        {% endif %}
    </div>

{% endblock %}
