{% extends 'theme/base/base_main.html.twig' %}

{% block title %}Envoi de mail{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center">

            </div>
            <!-- /Logo -->
            <!--Form-->


            <form method="post">
                {%if not pub %}
                    <dt class="my-3 h5">
                        À: {{adhesion.user.email}}, <span class="text-muted">{{adhesion.user}}</span>
                    </dt>
                {%else%}
                    <div class="accordion my-3" id="accordionExample">
                        <div class="card accordion-item active">
                            <h2 class="accordion-header" id="headingThree">
                                <button
                                        type="button"
                                        class="accordion-button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#accordionThree"
                                        aria-expanded="true"
                                        aria-controls="accordionThree"
                                >
                                    Listes des membres
                                </button>
                            </h2>
                            <div
                                    id="accordionThree"
                                    class="accordion-collapse collapse show"
                                    aria-labelledby="headingThree"
                                    data-bs-parent="#accordionExample"
                            >
                                <div class="accordion-body">
                                    <div class="table-responsive text-nowrap">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>Username</th>
                                                <th>Email</th>
                                                <th>Adresse</th>
                                            </tr>
                                            </thead>
                                            <tbody class="table-border-bottom-0">
                                            {% for adhesion in adhesions %}
                                                {% if adhesion.user != app.user and adhesion.role != 'PRESIDENT' and adhesion.status =='ACTIVE'%}

                                                    {%include 'theme/include/association_ligne2.html.twig' with {'adhesion':adhesion}%}
                                                {%endif%}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {%endif%}


            {% for child in form %}
            <div class="">

                <div class="mb-3">
                    {% if 'token' not in form_label(child) %}
                        {{ form_label(child,null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(child,{
                            'attr': {
                                'class':'form-control'
                            }
                        }) }}
                    {%endif%}
                </div>

            </div>
            {% endfor %}
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            <div class="mb-3">
                <button class="btn btn-primary d-grid w-20">{{ button_label|default('Enregistrer') }}</button>
            </div>
            </form>
            <!--Form-->

        </div>
    </div>
{% endblock %}