{% extends 'theme/base/base_main.html.twig' %}

{% block title %}Envoi de mail{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center">

            </div>
            <!-- /Logo -->
            <!--Form-->
            <dt class="my-3 h5">
                À: {{adhesion.user.email}}, <span class="text-muted">{{adhesion.user}}</span>
            </dt>
            <form method="post">
            {% for child in form %}
            <div class="">

                <div class="mb-3">
                    {% if 'token' not in form_label(child) %}
                        {{ form_label(child,null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(child,{
                            'attr': {
                                'class':'form-control'
                            }
                        }) }}
                    {%endif%}
                </div>

            </div>
            {% endfor %}
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            <div class="mb-3">
                <button class="btn btn-primary d-grid w-20">{{ button_label|default('Enregistrer') }}</button>
            </div>
            </form>
            <!--Form-->

        </div>
    </div>
{% endblock %}