{% extends 'theme/base/base_main.html.twig' %}

{% block title %}Gestion de {{ association }}{% endblock %}

{% block body %}

{#        {%if app.session.get('notFlush') is defined and not app.session.get('notFlush') %}#}
{#            <div class="alert alert-warning alert-dismissible fade show" role="alert">#}
{#                <ul>#}
{#                {% for u in app.session.get('notFlush') %}#}
{#                    <li>#}
{#                        {{u}}#}
{#                    </li>#}
{#                {%endfor%}#}
{#                </ul>#}
{#            </div>#}
{#        {% endif %}#}
    <div class="row">

        <div class="col d-flex justify-content-end">
            <button  class="btn btn-warning me-2" data-bs-toggle="modal"
               data-bs-target="#modalCenter">
                Importer des Adhérants
            </button>
            <a href="{{path('app_adhesion.mail',{'id':association.adhesions.last.id,'pub':true})}}" class="btn btn-success me-2">Envoyer un publipostage</a>
            <a href="{{path('app_activite',{'id':association.id})}}" class="btn btn-primary">Ajouter une activité</a>
        </div>

    </div>
    <div class="row">

        <div class="accordion mt-3" id="accordionExample">
            <div class="card accordion-item active">
                <h2 class="accordion-header" id="headingOne">
                    <button
                            type="button"
                            class="accordion-button"
                            data-bs-toggle="collapse"
                            data-bs-target="#accordionOne"
                            aria-expanded="true"
                            aria-controls="accordionOne"
                    >
                        Details
                    </button>
                </h2>

                <div
                        id="accordionOne"
                        class="accordion-collapse collapse show"
                        data-bs-parent="#accordionExample"
                >
                    <div class="accordion-body">
                        Lemon drops chocolate cake gummies carrot cake chupa chups muffin topping. Sesame snaps icing
                        marzipan gummi bears macaroon dragée danish caramels powder. Bear claw dragée pastry topping
                        soufflé. Wafer gummi bears marshmallow pastry pie.
                    </div>
                </div>
            </div>
            <div class="card accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button
                            type="button"
                            class="accordion-button collapsed d-flex justify-content-between"
                            data-bs-toggle="collapse"
                            data-bs-target="#accordionTwo"
                            aria-expanded="false"
                            aria-controls="accordionTwo"
                    >
                            Activités
                    </button>
                </h2>
                <div
                        id="accordionTwo"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample"
                >
                    <div class="accordion-body">
                        <div class="row mb-5">
                            {%for activite in association.getActivites%}
                            <div class="col-md-6 col-lg-4 mb-3">
                                <div class="card h-100">
                                    <img class="card-img-top" src="{{asset('/uploads/flyers/')}}{{activite.image}}" alt="Card image cap" />
                                    <div class="card-body">
                                        <h5 class="card-title">{{activite.titre}}</h5>
                                        <p class="card-text">
                                            {{activite.description}}
                                        </p>
                                        <dt class="my-2">
                                            Du {{activite.dateDebut|format_datetime('short','none')}} au {{activite.dateFin|format_datetime('short','none')}}
                                        </dt>
                                        <a href="{{path('app_activite.detail',{'id':activite.id})}}" class="btn btn-outline-primary">Plus</a>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            <div class="card accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button
                            type="button"
                            class="accordion-button collapsed"
                            data-bs-toggle="collapse"
                            data-bs-target="#accordionThree"
                            aria-expanded="false"
                            aria-controls="accordionThree"
                    >
                        Listes des membres
                    </button>
                </h2>
                <div
                        id="accordionThree"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample"
                >
                    <div class="accordion-body">
                        <div class="table-responsive text-nowrap">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Adresse</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                {% for adhesion in adhesions %}
                                    {% if adhesion.user != app.user and adhesion.role != 'PRESIDENT'%}
                                        {%include 'theme/include/association_ligne.html.twig' with {'adhesion':adhesion}%}
                                    {%endif%}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        {% if isPaginated is defined and isPaginated %}
            <div class="demo-inline-spacing">

                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page!=1 %}
                            <li class="page-item prev">
                                <a class="page-link" href="{{path('app_acceuil',{page:page-1})}}"><i class="tf-icon bx bx-chevrons-left"></i></a>
                            </li>
                        {% endif %}

                        {% for i in range(1, nbPage) %}
                            <li class="page-item {%if page==i %} active {% endif %}">
                                <a class="page-link" href="{{path('app_acceuil',{page:i})}}">{{i}}</a>
                            </li>
                        {% endfor %}

                        {% if page!=nbPage %}
                            <li class="page-item next">
                                <a class="page-link" href="{{path('app_acceuil',{page:page+1})}}"><i class="tf-icon bx bx-chevrons-right"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

        {% endif %}
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="mt-3">
            <!-- Modal -->
            <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCenterTitle">Modal title</h5>
                            <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">

                            <form method="POST" action="{{path('xlsx',{'id':association.id})}} " enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Default file input example</label>
                                    <input class="form-control" name="xlsx" type="file" id="formFile" required/>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="submit" class="btn btn-primary">Importer</button>
                                </div>
                                <input type="text" name="cc" class="form-control">

                                <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
